@import "_variables";

$homeIndexPrefix: "home-index__";

.#{$homeIndexPrefix}logo
{
    margin-bottom: 1.1rem;
}

.#{$homeIndexPrefix}email-share {
    text-align: left;
}

.#{$homeIndexPrefix}forgotten-password {
    text-align: left;
    margin-bottom: 1.5rem;
}

.#{$homeIndexPrefix}continue-button {
    width: 100%;
}

.#{$homeIndexPrefix}card-body {
    padding-bottom: 5rem;
}

.#{$homeIndexPrefix}input-group-text {
    background-color: $inputGroupTextBackgroundColor;
}
